/*!**************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./resources/scss/index.scss ***!
  \**************************************************************************************************************************************************************/
.arbor-color-picker {
  position: relative;
}
.arbor-color-picker .arbor-color-picker-block {
  width: 24px;
  height: 24px;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid rgba(99, 112, 112, 0.25);
}
.arbor-color-picker .arbor-color-picker-popup {
  box-sizing: border-box;
}
.arbor-color-picker .arbor-color-picker-popup .arbor-color-picker-popup-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 2147483646;
}
.arbor-color-picker .arbor-color-picker-popup .arbor-color-picker-popup-body {
  position: absolute;
  right: -40px;
  padding: 18px;
  background: #FFFFFF;
  box-shadow: -1.5px 3px 18px rgba(55, 57, 58, 0.2);
  border-radius: 18px;
  position: fixed;
  z-index: 2147483647;
  max-width: 300px;
  max-height: 500px;
}
.arbor-color-picker .arbor-color-picker-popup .arbor-color-picker-popup-body .color-hsl-picker {
  margin-top: 10px;
  width: 100%;
  height: 200px;
  position: relative;
}
.arbor-color-picker .arbor-color-picker-popup .arbor-color-picker-popup-body .color-hsl-picker .color-hsl-picker-under, .arbor-color-picker .arbor-color-picker-popup .arbor-color-picker-popup-body .color-hsl-picker .color-hsl-picker-over {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  pointer-events: none !important;
}
.arbor-color-picker .arbor-color-picker-popup .arbor-color-picker-popup-body .color-hsl-picker .color-hsl-picker-under {
  background: linear-gradient(to right, white, red);
}
.arbor-color-picker .arbor-color-picker-popup .arbor-color-picker-popup-body .color-hsl-picker .color-hsl-picker-over {
  background: linear-gradient(to bottom, transparent, black);
}
.arbor-color-picker .arbor-color-picker-popup .arbor-color-picker-popup-body .color-hsl-picker .color-hsl-picker-thumb {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 30px;
  background: white;
  border: 2px solid white;
  transform: translate(-50%, -50%);
  cursor: grab;
}
.arbor-color-picker .arbor-color-picker-popup .arbor-color-picker-popup-body .color-gradient-slider, .arbor-color-picker .arbor-color-picker-popup .arbor-color-picker-popup-body .color-alpha-slider, .arbor-color-picker .arbor-color-picker-popup .arbor-color-picker-popup-body .linear-gradient-slider {
  margin-top: 10px;
  height: 14px;
  width: 100%;
  border-radius: 100px;
  position: relative;
}
.arbor-color-picker .arbor-color-picker-popup .arbor-color-picker-popup-body .color-gradient-slider .color-gradient-thumb, .arbor-color-picker .arbor-color-picker-popup .arbor-color-picker-popup-body .color-gradient-slider .color-alpha-thumb, .arbor-color-picker .arbor-color-picker-popup .arbor-color-picker-popup-body .color-alpha-slider .color-gradient-thumb, .arbor-color-picker .arbor-color-picker-popup .arbor-color-picker-popup-body .color-alpha-slider .color-alpha-thumb, .arbor-color-picker .arbor-color-picker-popup .arbor-color-picker-popup-body .linear-gradient-slider .color-gradient-thumb, .arbor-color-picker .arbor-color-picker-popup .arbor-color-picker-popup-body .linear-gradient-slider .color-alpha-thumb {
  position: absolute;
  width: 14px;
  height: 14px;
  box-sizing: border-box;
  top: 0px;
  cursor: grab;
  border-radius: 200px;
  background-color: white;
  border: 2px solid white;
  transform: translateX(-50%);
  z-index: 10;
}
.arbor-color-picker .arbor-color-picker-popup .arbor-color-picker-popup-body .linear-gradient-slider {
  margin-top: 35px;
}
.arbor-color-picker .arbor-color-picker-popup .arbor-color-picker-popup-body .linear-gradient-slider .linear-gradient-slider-thumb {
  position: absolute;
  width: 25px;
  height: 25px;
  top: -30px;
  transform: translateX(-50%);
  cursor: grab;
}
.arbor-color-picker .arbor-color-picker-popup .arbor-color-picker-popup-body .color-gradient-slider {
  background: linear-gradient(to right, hsl(0deg, 100%, 50%), hsl(60deg, 100%, 50%), hsl(120deg, 100%, 50%), hsl(180deg, 100%, 50%), hsl(240deg, 100%, 50%), hsl(300deg, 100%, 50%), hsl(0deg, 100%, 50%));
}
.arbor-color-picker .arbor-color-picker-popup .arbor-color-picker-popup-body .color-alpha-slider {
  background-size: cover;
  background-image: url("https://app.arbor.eco/images/transparent-background.png");
}
.arbor-color-picker .arbor-color-picker-popup .arbor-color-picker-popup-body .color-alpha-slider::before {
  position: absolute;
  content: "";
  z-index: 0;
  background: linear-gradient(to right, transparent, #444444);
  height: 100%;
  border-radius: 3000px;
  width: 100%;
}

.arbor-dropdown {
  position: relative;
  z-index: 0;
}
.arbor-dropdown .arbor-dropdown-label {
  background: #FFFFFF;
  border: 1.5px solid #637070;
  border-radius: 9px;
  font-family: "Public Sans";
  font-weight: 400;
  font-size: 13.5px;
  line-height: 145%;
  color: #637070;
  padding: 9px;
  padding-right: 36px;
  cursor: pointer;
  position: relative;
  z-index: 2147483647;
}
.arbor-dropdown .arbor-dropdown-label > span {
  opacity: 0.5;
}
.arbor-dropdown .arbor-dropdown-label::before {
  position: absolute;
  content: "\e93e";
  right: 12px;
  font-size: 18px;
  font-family: "arbor-icons";
  color: #637070;
  transform: rotate(90deg);
  transition: transform 0.4s;
}
.arbor-dropdown .arbor-dropdown-background {
  display: none;
  position: fixed;
  z-index: 2147483645;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
}
.arbor-dropdown .arbor-dropdown-options {
  opacity: 0;
  transform: scaleY(0);
  transition: transform 0.5s, opacity 0.5s;
  position: absolute;
  max-height: 300px;
  overflow-y: scroll;
  top: calc(100% - 24px);
  padding: 6px;
  padding-top: 24px;
  z-index: 2147483646;
  background: white;
  width: 100%;
  transform-origin: top center;
  box-sizing: border-box;
  border-radius: 0px 0px 12px 12px;
  box-shadow: -1.5px 3px 18px rgba(55, 57, 58, 0.2);
}
.arbor-dropdown .arbor-dropdown-options .arbor-dropdown-option {
  margin-top: 6px;
  padding: 6px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 6px;
}
.arbor-dropdown .arbor-dropdown-options .arbor-dropdown-option > div {
  font-family: "Public Sans";
  font-weight: 400;
  font-size: 12px;
  line-height: 145%;
  color: #637070;
}
.arbor-dropdown .arbor-dropdown-options .arbor-dropdown-option.arbor-dropdown-option-active, .arbor-dropdown .arbor-dropdown-options .arbor-dropdown-option:hover {
  background: #F5F5F7;
}
.arbor-dropdown .arbor-dropdown-options .arbor-dropdown-option.arbor-dropdown-option-active > div, .arbor-dropdown .arbor-dropdown-options .arbor-dropdown-option:hover > div {
  background: linear-gradient(105.99deg, #489868 33.45%, #2A7A4A 67.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.arbor-dropdown .arbor-dropdown-options .arbor-dropdown-option.arbor-dropdown-option-active {
  background: rgba(40, 134, 77, 0.1);
}

.arbor-dropdown-open {
  z-index: 2147483647;
}
.arbor-dropdown-open .arbor-dropdown-label {
  border: 1px solid #28864D;
  box-shadow: 0px 0px 0px 2px rgba(40, 134, 77, 0.2);
}
.arbor-dropdown-open .arbor-dropdown-label::before {
  transform: rotate(-90deg);
}
.arbor-dropdown-open .arbor-dropdown-background {
  display: block;
}
.arbor-dropdown-open .arbor-dropdown-options {
  opacity: 1;
  transform: scaleY(1);
}

.arbor-dropdown.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.arbor-input .arbor-input-label {
  font-family: "Public Sans";
  font-weight: 600;
  font-size: 13.5px;
  line-height: 145%;
  text-transform: uppercase;
  color: #637070;
  margin: 0px;
}
.arbor-input .arbor-input-field {
  background: #FFFFFF;
  border: 1.5px solid rgba(99, 112, 112, 0.5);
  border-radius: 9px;
  position: relative;
  display: flex;
  align-items: center;
}
.arbor-input .arbor-input-field .arbor-input-field-prefix {
  position: relative;
}
.arbor-input .arbor-input-field .arbor-input-field-prefix > div {
  padding: 9px 10.5px;
  font-family: "Public Sans";
  font-weight: 400;
  font-size: 12px;
  line-height: 125%;
  color: rgba(99, 112, 112, 0.5);
  pointer-events: none;
  padding-right: 0px;
}
.arbor-input .arbor-input-field .arbor-input-field-input {
  position: relative;
  width: 100%;
}
.arbor-input .arbor-input-field .arbor-input-field-input input, .arbor-input .arbor-input-field .arbor-input-field-input .arbor-input-field-postfix {
  padding: 9px 10.5px;
  border: none !important;
  outline: none !important;
  background: transparent;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  box-sizing: border-box;
  font-family: "Public Sans";
  font-weight: 400;
  font-size: 12px;
  line-height: 125%;
  color: #637070;
}
.arbor-input .arbor-input-field .arbor-input-field-input .arbor-input-field-postfix {
  position: absolute;
  pointer-events: none;
}
.arbor-input .arbor-input-field .arbor-input-field-input .arbor-input-placeholder {
  padding: 9px 10.5px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  font-family: "Public Sans";
  font-weight: 400;
  font-size: 12px;
  line-height: 125%;
  color: rgba(99, 112, 112, 0.5);
  transition: opacity 0.4s;
  opacity: 1;
}
.arbor-input .arbor-input-field .arbor-input-field-input-has-prefix input, .arbor-input .arbor-input-field .arbor-input-field-input-has-prefix .arbor-input-field-postfix, .arbor-input .arbor-input-field .arbor-input-field-input-has-prefix .arbor-input-placeholder {
  padding-left: 0px;
}
.arbor-input .arbor-input-field-search .icon-Search {
  position: absolute;
  padding: 9px 10.5px;
  border: none !important;
  outline: none !important;
  background: transparent;
  height: 100%;
}
.arbor-input .arbor-input-field-search input, .arbor-input .arbor-input-field-search .arbor-input-field-postfix {
  padding-left: 34px;
}

.arbor-input-focus .arbor-input-placeholder {
  opacity: 0 !important;
}

.arbor-input.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.step-3-box {
  padding: 24px;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 3px 18px rgba(55, 57, 58, 0.15);
  border-radius: 24px;
}
